/* LoginSignUp.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container.dark {
  background-color: #141414;
  color: #fff;
}

.formContainer {
  padding: 60px;
  border-radius: 4px;
  width: 100%;
  max-width: 450px;
  box-sizing: border-box;
}

.container.dark .formContainer {
    background-color: rgba(0, 0, 0, 0.75);
}

.container:not(.dark) .formContainer {
    background-color: #f0f2f5;
}

.title {
  margin-bottom: 28px;
  font-size: 32px;
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  border-radius: 4px;
  height: 50px;
  line-height: 50px;
  padding: 16px 20px;
  margin-bottom: 16px;
  font-size: 16px;
}

.container.dark .input {
  background-color: #333;
  border: none;
  color: #fff;
}

.container:not(.dark) .input {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #000;
}

.input:focus {
  outline: none;
}

.container.dark .input:focus {
  background-color: #454545;
}

.container:not(.dark) .input:focus {
  border-color: #14aefa;
}

.button {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  padding: 16px;
  margin-top: 24px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.container.dark .button {
  background-color: #14aefa;
  color: #fff;
}

.container:not(.dark) .button {
  background-color: #14aefa;
  color: #fff;
}

.button:hover {
  background-color: #74acf0;
}

.text {
  margin-top: 16px;
}

.container.dark .text {
  color: #737373;
}

.container:not(.dark) .text {
  color: #555;
}

.link {
  text-decoration: none;
}

.container.dark .link {
  color: #fff;
}

.container:not(.dark) .link {
  color: #14aefa;
}

.link:hover {
  text-decoration: underline;
}

.error {
    background-color: #e87c03;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 16px;
    text-align: center;
}