.slider {
  width: 100vw;
  margin-left: calc((100% - 100vw) / 2);  /* centers the slider across the full viewport width */
  height: 50vh;       /* 35% of viewport height */
  position: relative; /* necessary for absolutely positioned nav buttons */
  overflow: hidden;   /* hides any overflow content */
  text-align: center;
  margin-bottom: 20px;
  margin-top: -20px;
}

.slideImage {
  width: 80%;
  height: 80%;
  object-fit: cover;      /* Crop image to cover container */
  object-position: bottom; /* Align image to show bottom portion */
  border-radius: 0;  /* remove border radius for seamless full-slider look */
}

.navButton {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.navButton:hover {
  background-color: rgba(0,0,0,0.8);
}

.navButton:first-of-type {
  left: 10px;
}

.navButton:last-of-type {
  right: 10px;
}

@media (max-width: 768px) {
  .slider {
    height: 35vh; /* adjust if needed for mobile devices */
  }
}

/* Additional styling for the slider can be added here */
