.slider {
  max-width: 1200px; /* Or any other width you prefer */
  margin: 20px auto;
  position: relative;
}

.slideImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This ensures the image covers the slide area without distortion */
  border-radius: 10px;
}

.navButton {
  background-color: rgba(0,0,0,0.5);
  border: none;
  color: white;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.navButton:hover {
  background-color: rgba(0,0,0,0.8);
}

.navButton:first-of-type {
  left: 10px;
}

.navButton:last-of-type {
  right: 10px;
}

/* Additional styling for the slider can be added here */
